@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: 2px;
  scrollbar-color: red;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  @apply text-neutral-700 scroll-smooth;
}

/* display only horizontal scroll bar */
::-webkit-scrollbar {
  height: 12px;
  width: 10px;

  background: #fbf5f5;
  /* display: none; */

}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.customscrollbar::-webkit-scrollbar-thumb {
  @apply bg-blue-200 rounded;
}

.customscrollbar::-webkit-scrollbar {
  width: 10px;
  @apply bg-slate-100 rounded;
}

.error {
  display: flex;
  color: red;
  margin-bottom: 5px;
  font-size: 0.7rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.error {
  display: flex;
  color: red;
  margin-bottom: 5px;
  font-size: .7rem;
}